/* Smooth transition for hover/background changes */
.tabs-container .tab {
  transition: background-color 0.2s ease !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.35) !important;
  padding: 10px 10px 18px 10px !important;
  background-image: linear-gradient(#282c34 0%, #21252b 100%) !important;
  /* One Dark Pro Darker colors */
  backdrop-filter: blur(5px) !important;
  border-radius: 20px !important;
}

.quick-input-list,
.quick-input-list .list_id_6 {
  min-height: 80% !important;
  height: 100% !important;
  overflow-y: auto !important;
}

.quick-input-widget::backdrop {
  display: block !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.15) !important;
  top: 0 !important;
  left: 0 !important;
  backdrop-filter: blur(8px) !important;
}

/* Remove background for lists */
.monaco-list-rows {
  background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 12px !important;
  padding: 16px !important;
  border: none !important;
  font-family: "Geist Mono" !important;
  font-size: 16px !important;
  margin-bottom: 16px !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* #command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000015;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 99;
} */

.letterpress {
  filter: opacity(0.3) !important;
}

/* Actions after command palette text input */
.quick-input-inline-action-bar .actions-container .action-item {
  margin-bottom: 16px !important;
}

.quick-input-header {
  align-items: center !important;
}

/* Command palette's input box placeholder */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.35) !important;
  /* slightly brighter placeholder */
}

/* scroll bar */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 1px !important;
  background: #5a96d6 !important;
  left: auto !important;
}